<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row">
                            <div class="grid-form-group">
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Wie kam es zu dem Unfall? *'  | translate }} </p>
                                    <input
                                        type="text"
                                        class="input-text vertical-space-increase-bottom-2"
                                        placeholder="{{'private-accident.Text eingeben'  | translate }}"
                                        [(ngModel)]="howHappen.value"
                                        (change)="saveInputs()"
                                        (input)="verifyInput()">
                                </div>
                            </div>
                            <div class="grid-form-group">
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Was war Deine zuletzt ausgeübte berufliche Tätigkeit? *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'private-accident.Vorheriger Arbeitgeber'  | translate }}" 
                                        [(ngModel)]="professionalActivity.value"
                                        (change)="saveInputs()"
                                        (input)="verifyInput()">
                                </div>
                                <div class="grid-form-group__separator"></div>
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Arbeitgeber'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'private-accident.Arbeitgeber zum Zeitpunkt des Unfalls'  | translate }}"
                                        [(ngModel)]="employer.value"
                                        (change)="saveInputs()"
                                        (input)="verifyInput()">
                                </div>
                            </div>
                            <div class="grid-form-group">
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Wurde die berufliche Tätigkeit länger als 12 Monate ausgeübt? *'  | translate }} </p>
                                </div>
                                <div class="grid-form-group__separator"></div>
                                <div class="grid-form-group__item grid-form-group__item--row">
                                    <mat-radio-button name="group1" class="para-text radio-button" (click)="hideOptions()" [checked]="longerThanTwelveMonths.value"> {{ 'form yes' | translate }} </mat-radio-button>
                                    <mat-radio-button name="group1" class="para-text horzontal-space-left-md radio-button" (click)="showOptions()" [checked]="!longerThanTwelveMonths.value"> {{ 'form no' | translate }} </mat-radio-button>
                                </div>
                            </div>
                            <div style="margin-bottom: 40px; width: 100%"></div>
                            <div class="grid-form-group" [hidden]="longerThanTwelveMonths.value">
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Welche berufliche Tätigkeit hast Du zuvor ausgeübt?'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'private-accident.Berufliche Tätigkeit'  | translate }}"
                                        [(ngModel)]="youDoBefore.value"
                                        (change)="saveInputs()"
                                        (input)="verifyInput()">
                                </div>
                                <div class="grid-form-group__separator"></div>
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Vorheriger Arbeitgeber'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'private-accident.Vorheriger Arbeitgeber'  | translate }}"
                                        [(ngModel)]="previousEmployer.value"
                                        (change)="saveInputs()"
                                        (input)="verifyInput()">
                                </div>
                            </div>
                            <div class="grid-form-group" [hidden]="longerThanTwelveMonths.value">
                                <div class="grid-form-group__item">
                                    <p class="para-text"> {{'private-accident.Wurde die berufliche Tätigkeit länger als 12 Monate ausgeübt? *'  | translate }} </p>
                                </div>
                                <div class="grid-form-group__separator"></div>
                                <div class="grid-form-group__item grid-form-group__item--row">
                                    <mat-radio-button name="group2" class="para-text radio-button" [checked]="longerThanTwelveMonthsSecond.value" (change)="this.longerThanTwelveMonthsSecond.value = true; verifyInput()"> {{ 'form yes' | translate }} </mat-radio-button>
                                    <mat-radio-button name="group2" class="para-text horzontal-space-left-md radio-button" [checked]="!longerThanTwelveMonthsSecond.value" (change)="this.longerThanTwelveMonthsSecond.value = false; verifyInput()"> {{ 'form no' | translate }} </mat-radio-button>
                                </div>
                            </div>
                        <div style="margin-bottom: 32px; width: 100%"></div>
                    </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>