<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row horzontal-space-left-sm">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="para-text horzontal-space-left-sm"> {{'Wie kam es zu dem Unfall? *'  | translate }} </p>
                                <input 
                                    type="text" 
                                    class="input-text vertical-space-increase-bottom-2" 
                                    placeholder="{{'Text eingeben'  | translate }}" 
                                    [(ngModel)]="howHappen" 
                                    (change)="save()">
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Was war Deine zuletzt ausgeübte berufliche Tätigkeit? *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Berufliche Tätigkeit'  | translate }}" 
                                        [(ngModel)]="professionalActivity" 
                                        (change)="save()">
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Arbeitgeber'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Arbeitgeber zum Zeitpunkt des Unfalls'  | translate }}" 
                                        [(ngModel)]="employer" 
                                        (change)="save()">
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Wurde die berufliche Tätigkeit länger als 12 Monate ausgeübt? *'  | translate }} </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 vertical-space-increase-bottom-2">
                                    <mat-radio-button name="group1" class="para-text radio-button" (click)="hideOptions()" [checked]="longerThanTwelveMonths"> {{ 'form yes' | translate }} </mat-radio-button>
                                    <mat-radio-button name="group1" class="para-text horzontal-space-left-md radio-button" (click)="showOptions()" [checked]="!longerThanTwelveMonths"> {{ 'form no' | translate }} </mat-radio-button>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12" [hidden]="longerThanTwelveMonths">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Welche berufliche Tätigkeit hast Du zuvor ausgeübt?'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Berufliche Tätigkeit'  | translate }}" 
                                        [(ngModel)]="youDoBefore" 
                                        (change)="save()">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Vorheriger Arbeitgeber'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Vorheriger Arbeitgeber'  | translate }}"
                                        [(ngModel)]="previousEmployer" 
                                        (change)="save()">
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12" [hidden]="longerThanTwelveMonths">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Wurde die berufliche Tätigkeit länger als 12 Monate ausgeübt? *'  | translate }} </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 vertical-space-increase-bottom-2">
                                    <mat-radio-button name="group2" class="para-text radio-button" [checked]="longerThanTwelveMonthsSecond"> {{ 'form yes' | translate }} </mat-radio-button>
                                    <mat-radio-button name="group2" class="para-text horzontal-space-left-md radio-button" [checked]="!longerThanTwelveMonthsSecond"> {{ 'form no' | translate }} </mat-radio-button>
                                </div>
                            </div>

                    </div>
                <div class="container-fluid vertical-space-increase-top-lg-8">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>