<div class="cookie-container zero-margin" *ngIf="showCookieWindow">
  <mat-drawer-container class="side-window-container" hasBackdrop="true">

    <mat-drawer #drawer mode="over" position="end" [opened]="showCookieWindow">
      <div class="side-window-content">
        <div class="side-window-close-content mb-3">
          <span mat-raised-button (click)="drawer.toggle();changeVarCookieWindow()" class="side-window-close-icon">X</span>
        </div>
        <app-sidenav-backdrop (closeModalFunc)="drawer.toggle()" (changeVarCookieWindow)="changeVarCookieWindow()"></app-sidenav-backdrop>
      </div>
    </mat-drawer>

    <mat-drawer-content>

      <div></div>

    </mat-drawer-content>

  </mat-drawer-container>
</div>
<div class="container-fluid zero-margin zero-padding global-container">
  <div class="app-container">
    <div class="app-header-container">
      <app-header></app-header>
    </div>
    <div class="app-main-container">
      <div class="app-main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="app-footer-container">
      <app-footer></app-footer>
    </div>
  </div>
</div>
