<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content addScroll scrollbar-primary scroll-bar ">
                <div class="row">
                    <div class="col-lg-9 col-md-10 col-sm-12 overflow-auto ">
                        <h2 class="h2-title">
                            {{ 'OH WOW' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            {{ 'cookie-guide-line.COOKIE-RICHTLINIE' | translate }}
                        </h1>
                        <p class="para-text vertical-space-increase-top-lg">
                            {{ 'cookie-guide-line.Achtung! Text vorerst von anderer Website als Platzhalter! Mit dieser Cookie-Richtlinie möchten wir dich über den Einsatz von Cookies oder ähnlichen Speichertechnologien, etwa Pixel, (nachfolgend „Cookies“) auf unserer Webseite www.protec-solutions.de informieren. Diese Cookie-Richtlinie ergänzt unsere Datenschutzerklärung.' | translate }}
                        </p>
                        <p class="mt-4 mb-4">
                            <b class="text-weight-600 para-text">
                                {{ 'cookie-guide-line.I. Was sind Cookies?' | translate }}
                            </b>
                        </p>
                        <p class="para-text">
                            {{ 'cookie-guide-line.Cookies sind kleine Textdateien, die von deinem Browser auf deinem Endgerät zur Speicherung von bestimmten Informationen abgelegt werden. Bei deinem nächsten Aufruf unserer Webseite mit demselben Endgerät werden die in Cookies gespeicherten Informationen in weiterer Folge entweder an unsere Webseite („First Party Cookie“) oder an eine andere Webseite, zu der das Cookie gehört („Third Party Cookie“), zurückgesandt.' | translate }}
                        </p>
                        <p class="para-text">
                            {{ 'cookie-guide-line.Durch die gespeicherten und zurückgesandten Informationen erkennt die jeweilige Webseite, dass du diese mit dem Browser deines Endgeräts bereits aufgerufen und besucht hast. Diese Informationen nutzen wir, um dir die Webseite gemäß deinen Präferenzen optimal gestalten und anzeigen zu können. Dabei wird lediglich das Cookie selbst auf deinem Endgerät identifiziert.' | translate }}
                        </p>
                        <p class="para-text">
                            {{ 'cookie-guide-line.Eine Speicherung von personenbezogenen Daten erfolgt nur nach deiner ausdrücklichen Einwilligung, oder wenn dies unbedingt erforderlich ist, um den angebotenen und von dir aufgerufenen Dienst entsprechend nutzen zu können.' | translate }}
                        </p>
                    </div>

                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.home"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>