<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content addScroll scrollbar-primary scroll-bar ">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 ">
                        <h2 class="h2-title">
                            <div>{{ 'OH WOW' | translate }}</div>
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            <div>{{ 'AGB' | translate }}</div>
                        </h1>
                        <br/>
                        <p class="mb-4 mt-4 para-text scroll-bar text-weight-600 vertical-space-reducer-top">
                            {{ 'Präambel' | translate }}
                        </p>
                        <p class="mt-4 mb-4 para-text">
                                {{ 'Pro:Tec bietet Prozessfinanzierungsleistungen mit IT-gestützten Leistungselementen bei der Durchsetzung sozialversicherungsrechtlicher Ansprüche an. Die folgenden Nutzungsbedingungen gelten dabei für die Informationswebseite („protec-solutions.de“) sowie die Registrierung zur und Durchführung einer unverbindlichen Vorprüfung („protec.help“).\n' | translate }}
                        </p>
                        <p class="mt-4 mb-4 para-text text-weight-600">
                            {{ '1. Geltungsbereich' | translate }}
                        </p>
                        <p class="mt-4 mb-4 para-text">
                            {{ 'Die vorliegenden Nutzungsbedingungen finden Anwendung auf das Informationsangebot der Firma Pro:Tec Solutions GmbH, Sophienstraße 40, 38118 Braunschweig (AG Braunschweig HRB 209067, Umsatzsteuer-ID: DE338227682) vertreten durch den Geschäftsführer Alexander Naumann (im Folgenden „Pro:Tec“ oder „wir“) auf dieser Webseite (protec-solutions.de) sowie für den Prozess einer kostenlosen und unverbindlichen Vorprüfung (unter der Domain: protec.help). Die Prozessfinanzierung selbst ist Gegenstand einer individualisierten vertraglichen Regelung und nicht von diesen Nutzungsbedingungen erfasst.' | translate }}
                        </p>
                        <p class="mt-4 mb-4 para-text text-weight-600">
                            {{ '2. Regelungen für die Registrierung und Vorprüfung' | translate }}
                        </p>
                        <p class="mt-4 mb-4 para-text">
                            {{ '(1) Um Ihren Sachverhalt auf die Abgabe eines etwaigen Prozessfinanzierungsangebots prüfen zu können, benötigen wir von' | translate }}
                        </p>
                    </div>
                </div>
                <div class="container-fluid position-sticky">
                    <app-g-button [data]="pageNav.home"></app-g-button>
                </div>
            </div>

        </div>
    </div>
</div>

