<div class="row zero-margin zero-padding">
    <div class="col-lg-2">
        <img src="../../../../assets/images/protec_logo.png" class="header-logo" (click)="backToBegin()">
    </div>
    <div class="col-lg-5">
        <h6 class="header-title">
            {{ 'UNFALLRENTEN-CHECKER' | translate }}
        </h6>
    </div>
    <div class="col-lg-2 dropdown">
        <button class="dropdown-bg dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <h6 class="header-title-menu">
                {{ 'KONTAKT' | translate }}
            </h6>
        </button>
            <div class="dropdown-menu dropdown-bg" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item dropdown-bg" href="#">info@protec-solutions.de</a>
                <a class="dropdown-item dropdown-bg" href="#">+49 (0) 531 618 990 18</a>
                <a class="dropdown-item dropdown-bg" href="#">+49 (0) 176 721 070 52</a>
            </div>
    </div>
    <div class="col-lg-2">
        <h6 class="header-title-menu">
            {{ 'MEIN KONTO' | translate }}
        </h6>
    </div>
    <div class="col-lg-1">
        <h6 class="header-title-menu">
            <ng-container *ngFor="let locale of availableTranslationLocales">
                <span (click)="onClickTranslationLocale(locale)">{{ locale.key }}</span> | 
            </ng-container>
        </h6>
    </div>
</div>