.header-logo {
    width: 150px;
    padding-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.header-title {
    color: var(--light-taupe);
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 6.6px;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 35px;
}

.header-title-menu {
    color: var(--light-taupe);
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 6.6px;
    text-transform: uppercase;
    opacity: 1;
    padding-top: 32px;
    cursor: pointer;
}

.dropdown-bg{
    background-color: var(--deep-forest);
    outline: none;
    border: none;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
    outline: none;
}

.dropdown-toggle::after{
    display: none;
}
.dropdown-toggle{
    margin-bottom: -10px !important;
}
.dropdown-menu{
    margin-top: -4px;
    opacity: 1;
    background-color: #ECE9EB;
    padding:0.5px;
}
.dropdown-item{
    margin-bottom: 0.5px !important;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-13)/var(--unnamed-line-spacing-18) var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--light-taupe);
    text-align: left;
    font: normal normal 600 13px/18px Open Sans;
    letter-spacing: 0px;
    color: #ECE9EB;
    opacity: 1;
    font-style: normal;
    font-family: "Open sans", sans-serif;
    font-weight: lighter;
}