<div [ngClass]=windowDefault >
    <h1 class="mt-0 mb-4 title-text">
        {{ 'DATENSCHUTZ' | translate }}
    </h1>
    <h6 class="mt-0 mb-2 side-window-sub-title vertical-space-increase-top-lg">
        {{ 'Cookie-Einstellungen' | translate }}
    </h6>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
            {{ 'Deine Daten gehören Dir. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. ' | translate }}
    </p>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
        {{ 'Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.' | translate }}
    </p>

    <a class="side-window-link">
        {{ 'Weitere Informationen' | translate }}
    </a>
    <div class="mt-4 vertical-space-increase-top-lg-16 side-window-checks-content">
        <mat-radio-button  name="Essenziell" class="side-window-checkbox-label" [checked]="true" disabled>
            {{ 'Essenziell' | translate }}
        </mat-radio-button>
        <mat-radio-button name="Statistiken" class="side-window-checkbox-label" >
            {{ 'Statistiken' | translate }}
        </mat-radio-button>
        <mat-radio-button name="Funktional" class="side-window-checkbox-label">
            {{ 'Funktional' | translate }}
        </mat-radio-button>
        <mat-radio-button name="Marketing" class="side-window-checkbox-label">
            {{ 'Marketing' | translate }}
        </mat-radio-button>
    </div>
    <div class="mt-4  align-content-center justify-content-center">
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionOne" (click)='getAcceptedCookie("all")'></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionTwo" (click)='closeModal()'></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionThree"></app-g-button>
        </div>
    </div>
</div>




<div [ngClass]="windowEssenziell" >
    <h1 class="mt-0 mb-4 title-text">
        {{ 'DATENSCHUTZ' | translate }}
    </h1>
    <p class="mt-2 mb-2 side-window-text text-weight-600 vertical-space-increase-top-lg">
        {{ 'Du hast die Kontrolle über Deine Informationen und Daten' | translate }}
    </p>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
        {{ 'Wir benötigen Deine Zustimmung, bevor Du unsere Website weiter besuchen kannst. Wenn du unter 16 Jahre alt bist und Deine Zustimmung zu freiwilligen Diensten geben möchtest, musst Du Deine Erziehungsberechtigten um Erlaubnis bitten.' | translate }}
    </p>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
        {{ 'Wir verwenden Cookies und andere Technologien auf unserer Website. Einige von ihnen sind essenziell, während andere uns helfen, diese Webseite und Deine Erfahrung zu verbessern. Personenbezogene Daten können verarbeitet werden (z.B. IP-Adressen), z.B. für personalisierte Anzeigen und Inhalte oder Anzeigen- und Inhaltsmessung. Weitere Informationen über die Verwendung Deiner Daten findest Du in unserer Datenschutz-erklärung. Du kannst Deine Auswahl jederzeit unter widerrufen oder anpassen. ' | translate }}
    </p>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
        {{ '  Einige Services verarbeiten deine Daten in den USA. Mit Deiner Einwilligung zur Nutzung dieser Services stimmst Du auch der Verarbeitung Deiner Daten in den USA gemäß Art. 49 (1) lit. a DSGVO zu. Das EuGH stuft die USA als Land mit unzureichendem nach EU-Standards ein. So besteht etwa das Risiko, dass US-Behörden personenbezogene Daten in Überwachungs-programmen verarbeiten, ohne bestehende Klagemöglichkeiten für Europäer.' | translate }}
    </p>
    <a class="side-window-link" (click)="goTo(cookieGuideLink)">
        {{ 'Weitere Informationen' | translate }}
    </a>

    <div class="mt-4 vertical-space-increase-top-lg-14 align-content-center justify-content-center width-100">
        <div class="mt-2 mb-2 width-100">
            <app-g-button [data]="cookieWindowButtonDefault.dataButtonOptionOne" (click)='getAcceptedCookie("all")'></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButtonDefault.dataButtonOptionTwo" (click)='closeModal()'></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButtonDefault.dataButtonOptionThree" (click)="changeCookieWindow()"></app-g-button>
        </div>
    </div>
</div>