<div>
    <h1 class="mt-0 mb-4 title-text">
        {{ 'DATENSCHUTZ' | translate }}
    </h1>
    <h6 class="mt-0 mb-2 side-window-sub-title vertical-space-increase-top-lg">
        {{ 'Cookie-Einstellungen' | translate }}
    </h6>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
            {{ 'Deine Daten gehören Dir. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. ' | translate }}
    </p>
    <p class="mt-2 mb-2 side-window-text vertical-space-increase-top">
        {{ 'Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.' | translate }}
    </p>

    <a class="side-window-link">
        {{ 'Weitere Informationen' | translate }}
    </a>
    <div class="mt-4 side-window-checks-content">
        <mat-radio-button  class="side-window-checkbox-label">
            {{ 'Essenziell' | translate }}
        </mat-radio-button>
        <mat-radio-button  class="side-window-checkbox-label">
            {{ 'Statistiken' | translate }}
        </mat-radio-button>
        <mat-radio-button class="side-window-checkbox-label">
            {{ 'Funktional' | translate }}
        </mat-radio-button>
        <mat-radio-button class="side-window-checkbox-label">
            {{ 'Marketing' | translate }}
        </mat-radio-button>
    </div>
    <div class="mt-4">
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionOne" (click)='getAcceptedCookie("all")'></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionTwo"></app-g-button>
        </div>
        <div class="mt-2 mb-2">
            <app-g-button [data]="cookieWindowButton.dataButtonOptionThree"></app-g-button>
        </div>
    </div>
</div>