
<div class="base-content">
    <div>
        <app-stepper></app-stepper>
    </div>
    <div>
        <div class="generic-box-content">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                   <div class="vertical-space-increase-bottom">
                        <h2 class="h2-title">
                            {{ 'OH WOW' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            {{ 'TOLLE ÜBERSCHRIFT' | translate }}
                        </h1>
                   </div>
                    <br>
                    <div>
                        <p class="para-text text-weight-600">
                            {{ 'Fertig!' | translate }}
                        </p>
                        <p class="para-text">
                            {{ 'Fertig! Wir bedanken uns für das in uns gesetzte Vertrauen und werden Dir innerhalb der nächsten 48 Stunden ein Angebot per E-Mail zukommen lassen.' | translate }}
                        </p>
                    </div>
                    <div class="step-one-btn-content vertical-space-increase-top-lg float-left">
                        <app-g-button [data]="dataButton"></app-g-button>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-12 vertical-space-increase-top-lg horzontal-space-reducer-left-lg">
                    <img src="../../../../assets/images/ProTec_Software_Graphic_handshake.svg" class="generic-img"/>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid vertical-space-increase-top">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>