<div class="footer-container">
    <div class="base-footer d-flex align-items-center justify-content-center">
        <div class="footer-nav"><app-g-button [data]="footerNav.dataButtonOptionOne" (linkFunction)="cleanCookieStorage()"></app-g-button></div>
        <div class="footer-nav"><app-g-button [data]="footerNav.dataButtonOptionTwo"></app-g-button></div>
        <div class="footer-nav"><app-g-button [data]="footerNav.dataButtonOptionFive"></app-g-button></div>
        <div class="footer-nav"><app-g-button [data]="footerNav.dataButtonOptionThree"></app-g-button></div>
        <div class="footer-nav"><app-g-button [data]="footerNav.dataButtonOptionFour"></app-g-button></div>
    </div>
</div>
