<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-6 col-md-4 col-sm-12">
                        <h2 class="h2-title">
                            {{ 'SCHRITT 3' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            {{ 'ERFOLGSAUSSICHTEN' | translate }}
                        </h1>
                        <p class="para-text text-weight-600  vertical-space-increase-top-lg">
                            {{"Vielen Dank für Dein Vertrauen!" | translate }}
                        </p>
                        <p class="para-text vertical-space-increase-top">
                            {{ 'Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met. Lorem Ipsum dolor sit met.' | translate }}
                        </p>
                    </div>
                    <div class="col-lg-2 col-md-4"></div>
                    <div class="col-lg-4 col-md-4 col-sm-12 vertical-space-increase-top horzontal-space-reducer-left-lg">
                        <img src="../../../../assets/images/ProTec_Software_Graphic_target.svg" class="generic-img"/>
                    </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>