<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div style="text-align: center;">
                            <p style="text-align: center;">
                                {{ 'So schätzen wir die Erfolgswahrscheinlichkeit der Durchsetzung Deiner Rentenansprüche ein:' | translate }}
                            </p>
                            <img src="../../../../assets/images/ProTec_Software_Graphic_high-chance.svg" style="width: 192px;" class="mb-50 mt-50"/>
                            <div align="center">
                                <h3 style="text-align: center;width: 200px;">
                                    {{ 'VIELVERSPRECHENDE ERFOLGSAUSSICHT' | translate }}
                                </h3>
                                <p style="text-align: center; font-size: 14px;width: 600px;padding-top: 24px;">
                                    {{ 'Es handelt sich hierbei um eine erfahrungsbasierte Einschätzung, die weder eine Rechtsdienst-leistung darstellt noch eine Garantie für den tatsächlichen Verlauf eines möglichen Prozess gibt.' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>