<div *ngIf="data.type === 'default'">
    <div class="bt-action btn-version btn-default">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'arrow-right'">
    <div class="btn-version btn-arrow-right" [ngClass]="{'btn-generic-focus-color': checkCurrentRoute(data.link)}">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'arrow-right-first'">
    <div class="btn-version btn-arrow-right-first" [ngClass]="{'btn-generic-focus-color': checkCurrentRoute(data.link)}">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'outline'">
    <div class="bt-action btn-outline" [ngClass]="{'btn-outline-selected': data.selected}" (click)="goToLink(data.link, data.funcParams)">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'cookie-window'">
    <div class="bt-action btn-outline" (click)="goToLink(data.link)">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'item'">
    <div class="bt-action btn-outline btn-item align-content-center" (click)="goToLink(data.link)">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'footer-nav'">
    <div class="footer-nav-link bt-action" (click)="goToLink(data.link)">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'anchor-button-home'" class="d-flex text-dark bold-text" style="align-items: flex-end;">
    <div class="btn-home bt-action link-button ml-auto" (click)="goToLink(data.link)">
        <span class="no-overflow-text button-arrow">
            {{data.label}}
        </span>
        <span class="arrow arrow-right"></span>
    </div>
</div>

<div *ngIf="data.type === 'navegation-buttons'">
    <div class="row " [ngClass]="{'d-flex': data.navegations.length > 0}" style="align-items: flex-end;">
        <div 
            *ngFor="let navegation of data.navegations;let i = index;" 
            class="col-lg-6 text-dark vertical-space-reducer-bottom-4 bold-text" 
            [ngClass]="{'ml-auto': i > 0}">
            <div
                class="home-button-link bt-action link-button"
                (click)="goToLink(navegation.link)" 
                [ngClass]="{'text-right': i > 0}">
                <span *ngIf="i == 0" class="arrow arrow-left " [ngClass]="btn_arrow" (mouseenter)="btnOnMouseEnter()" (mouseleave)="btnOnMouseLeave()"></span>
                <span class="no-overflow-text button-arrow"  [ngClass]="btn_arrow" (mouseenter)="btnOnMouseEnter()" (mouseleave)="btnOnMouseLeave()">
                    {{navegation.label}}
                </span>
                <span *ngIf="i > 0" class="arrow arrow-right" [ngClass]="btn_arrow" (mouseenter)="btnOnMouseEnter()" (mouseleave)="btnOnMouseLeave()"></span>
            </div>
        </div>
    </div>
</div>