
.bt-action {
    cursor: pointer;
}


.btn-version {
    width: 100%;
    height: 39px;
    background: var(--45-chalk-mint) 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 0 11px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

.btn-version span {
    color: var(--deep-forest);
    font-weight: bold;
    font-size: 12px;
    position: relative;
    bottom: 2px;
    letter-spacing: 3px;
}

.btn-default {
    background: var(--muted-forest) 0% 0% no-repeat padding-box;
}

.btn-item{
    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-dosis);
    color: var(--muted-forest);
}
.btn-item:hover{
    background-color: var(--muted-forest);
    color: #FFFFFF;
}


.btn-default span {
    color: #ffffff;
}

.btn-outline {
    border: 1px solid var(--muted-forest);
    border-radius: 2px;
    opacity: 1;
    width: 100%;
    height: 40px;
    padding: 8px;
    text-align: center;
    letter-spacing: 4.5px;
    min-width: 200px;
    color: #4A6767;
    font-family: Dosis;
    font-weight: 600;
    font-size: 12px;
}

.btn-outline-lg {
    border: 1px solid var(--muted-forest);
    border-radius: 2px;
    opacity: 1;
    width: 100%;
    height: 40px;
    padding: 8px;
    text-align: center;
    letter-spacing: 4.5px;
    min-width: 200px;
    color: #4A6767;
    font-family: Dosis;
    font-weight: 600;
    font-size: 12px;
}

.btn-outline-lg :hover{
    background-color: #4A6767;
    border-radius: 2px !important;
    color: #FFFFFF;
}

.cookie-window {
    border: 1px solid var(--muted-forest);
    border-radius: 2px;
    opacity: 1;
    width: 100%;
    height: 40px;
    padding: 8px;
    text-align: center;
    letter-spacing: 4.5px;
    min-width: 200px;
    color: #4A6767;
    font-family: Dosis;
    font-weight: 600;
    font-size: 12px;
}
.btn-home{
    color: red;
}

.btn-outline:hover{
    background-color: #4A6767;
    border-radius: 2px !important;
    color: #FFFFFF;
}

.btn-outline-selected{
    background-color: #4A6767;
    border-radius: 2px !important;
    color: #FFFFFF;
}

.radius-2px{
    border-radius: 2px;
}

.btn-arrow-right {
    clip-path: polygon(96% 0%, 100% 50%, 96% 100%, 0% 100%, 4% 50%, 0% 0%);
}

.btn-arrow-right-first {
    clip-path: polygon(96% 0%, 100% 50%, 96% 100%, 0% 100%, 0% 50%, 0% 0%);
    margin-left: 0 !important;
}

.no-overflow-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
    text-transform: uppercase;
}

.link-button{
    color: var(--deep-forest);
    font-size: 1em;
    letter-spacing: 2px !important;
}



.btn-home span:hover{
    border-color: var(--deep-forest);
    color: var(--deep-forest);
}


.arrow-right {
    transform: rotate(45deg);
}

.arrow-left {
    transform: rotate(225deg);
}

.footer-nav-link {
    color: var(--light-mint);
    text-align: center;
    letter-spacing: 3.6px;
    text-transform: uppercase;
    opacity: 1;

}

.footer-nav-link:hover{
    color: var(--deep-mint);
}

.arrow {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-top: 1px solid var(--muted-forest);
    border-right: 1px solid var(--muted-forest);
    margin-bottom: 2px;
    color: var(--muted-forest);
    border-color: var(--muted-forest);
}
.button-arrow{
    display: inline;
    color: var(--muted-forest);
    border-color: var(--muted-forest);
    font-family: var(--unnamed-font-family-dosis);
}

.selected{
    background-color: var(--muted-forest);
    color: #FFFFFF;
}

.not-selected{
    background-color:#FFFFFF;
    color: var(--muted-forest);
}

.btn-arrow{
    color: var(--muted-forest);
    border-color: var(--muted-forest);
}
.btn-arrow-hover{
    color: var(--deep-forest);
    border-color: var(--deep-forest);
}

.btn-step-text {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
}
