<div *ngIf="data.type === 'default'">
    <div class="bt-action btn-version btn-default">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'arrow-right'">
    <div class="bt-action btn-version btn-arrow-right">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'arrow-right-first'">
    <div class="bt-action btn-version btn-arrow-right-first">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'outline'">
    <div class="bt-action btn-outline">
        <span>
            {{data.label}}
        </span>
    </div>
</div>

<div *ngIf="data.type === 'anchor-button-home'">
    <div class="home-button-link  link-button">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
        <span class="arrow arrow-right"></span>
    </div>
</div>

<div *ngIf="data.type === 'footer-nav'">
    <div class="footer-nav-link bt-action">
        <span class="no-overflow-text">
            {{data.label}}
        </span>
    </div>
</div>