
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$protec-primary: mat.define-palette(mat.$indigo-palette);
$protec-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$protec-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$protec-theme: mat.define-light-theme((
color: (
primary: $protec-primary,
accent: $protec-accent,
warn: $protec-warn,
)
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($protec-theme);
@import '~bootstrap-icons/font/bootstrap-icons';

/* You can add global styles to this file, and also import other style files */

:root {
  
  /* Colors: */
  --light-grey: #DADADA;
  --light-mint: #AAC0BF;
  --deep-mint: #94B3B2;
  --muted-forest: #4A6767;
  --forest-shade: #385656;
  --coral: #EB5848;
  --off-black: #3C3C3B;
  --light-taupe: #ECE9EB;
  --45-chalk-mint: #E3EAEA;
  --chalk-mint: #C1D0D0;
  --deep-forest: #2B4645;
  
  --light-taupe-rgba: RGBA(236,233,235,0.25);
  
  --close-icon-color: #314545;
  
  /* Font/text values */
  --unnamed-font-family-dosis: "Dosis";
  --unnamed-font-family-open-sans: "Open sans", sans-serif;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-600: 600px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-13: 13px;
  --unnamed-font-size-14: 14px;
  --unnamed-font-size-20: 20px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-6: 6px;
  --unnamed-character-spacing-4-2: 4.2px;
  --unnamed-line-spacing-17: 17px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-26: 26px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-dosis);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-20);
  line-height: var(--unnamed-line-spacing-26);
  letter-spacing: var(--unnamed-character-spacing-6);
  color: var(--muted-forest);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-open-sans);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-600);
  font-size: var(--unnamed-font-size-13);
  line-height: var(--unnamed-line-spacing-18);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--light-taupe);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-dosis);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-14);
  line-height: var(--unnamed-line-spacing-17);
  letter-spacing: var(--unnamed-character-spacing-4-2);
  color: var(--muted-forest);
  text-transform: var(--unnamed-text-transform-uppercase);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--off-black);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--off-black);
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--light-taupe-rgba) 0% 0% no-repeat padding-box;
}

/*GLOBAL STYLES*/

.p-button {
  border: 1px solid var(--muted-forest);
  border-radius: 2px;
  opacity: 1;
  width: 80%;
  height: 40px;
  padding: 8px;
  text-align: center;
  letter-spacing: 4.5px;
  min-width: 200px;
  color: var(--muted-forest);
  font-family: Dosis;
  font-weight: 600;
  font-size: 12px;
  background: transparent;
}

.p-button:enabled:hover {
  background-color: var(--muted-forest);
  border-radius: 2px !important;
  color: #FFFFFF;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.base-header {
  background: var(--deep-forest) 0% 0% no-repeat padding-box;
  background: var(--deep-forest) 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 100%;
  height: 85px;
}

.base-footer {
  margin-top: 0vh;
  height: 100px;
}

.base-footer-with-modal {
  margin-top: 80vh;
  height: 100px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.base-content {
  margin-left: 193px;
  margin-right: 193px;
}

.base-img {
  width: 100%;
}

.base-min-height-30 {
  min-height: 30vh;
}

.base-min-height-45 {
  min-height: 45vh;
}

.generic-box-content {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  min-height: 641px;
  padding: 100px;
}

.alig-left {
  float: left;
}

.align-right {
  float: right;
}

.zero-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.zero-margin {
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  color: var(--deep-forest);
  text-align: left;
  font: normal normal bold 35px Dosis;
  letter-spacing: 10.5px;
  color: var(--deep-forest);
  text-transform: uppercase;
  opacity: 1;
}

h2 {
  color: var(--chalk-mint);
  text-align: left;
  font: normal normal bold 25px Dosis;
  letter-spacing: 7.5px;
  color: var(--chalk-mint);
  text-transform: uppercase;
  opacity: 1;
}

h3 {
  color: var(--chalk-mint);
  text-align: left;
  font-size: 20px !important;
  letter-spacing: 7.5px;
  color: var(--muted-forest);
  text-transform: uppercase;
  opacity: 1;
}

p {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font: normal normal normal 18px Open Sans;
  letter-spacing: 0px;
  color: var(--off-black);
}

b {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font: normal normal 600 18px Open Sans;
  letter-spacing: 0px;
  color: var(--off-black);
}

.side-window-content {
  padding: 30px;
  background-color: var(--45-chalk-mint);
  height: 100%;
  width: 35em;
}

.side-window-title {
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 10.5px !important;
  color: var(--deep-forest);
  text-transform: uppercase;
  opacity: 1;
}

.side-window-sub-title {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font-weight: bold;
  font-family: "Open sans", sans-serif;
  font-size: 1.1em  !important;
  letter-spacing: 0px;
}

.side-window-text {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font-weight: lighter;
  font-family: "Open sans", sans-serif;
  font-size: 1em;
  letter-spacing: 0px;
}

.title-text{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 35px/44px var(--unnamed-font-family-dosis);
  text-align: left;
  font-weight: bold !important;
  font-family: var(--unnamed-font-family-dosis) !important;
  letter-spacing: 10.5px !important;
  color: var(--deep-forest);
  text-transform: uppercase;
  opacity: 1;
  
}

.h2-title{
  font-size:  25px/32p;
  font-family: var(--unnamed-font-family-dosis) !important;
  font-weight: 600 !important;
  color: var(--chalk-mint);
  text-align: left;
  letter-spacing: 7.5px !important;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: -1em;
  
}


.para-text{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font-weight: lighter;
  font-family: var(--unnamed-font-family-open-sans);
  font-size: 18px;
  letter-spacing: 0px;
}

.addScroll{
  overflow-y:auto;
  height: 420px;
}

.para-text-bold{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font-weight: var(--unnamed-font-weight-bold);
  font-family: var(--unnamed-font-family-open-sans);
  font-size: 18px;
  letter-spacing: 0px;
}

.para-title{
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font-weight: bold;
  font-family: "Open sans", sans-serif !important;
  font-size: 1em;
  letter-spacing: 0px;
}

.side-window-close-content {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.side-window-close-icon {
  color: var(--close-icon-color);
}

.side-window-link {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--muted-forest);
  text-align: left;
  text-decoration: underline;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: normal;
  font-size: 12px;
}

.side-window-checkbox-label {
  color: var(--off-black);
  font-weight: normal;
  font-size: 10px;
  padding-right: 10px;
}

.side-window-checks-content {
  margin-bottom: 20px;
}

.generic-img {
  width: 100%;
}

@media (max-width: 767px) {
  .base-content {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.mat-drawer-container {
  position: fixed !important;
}

.spacer-bottom-medium {
  margin-bottom: 1.2em;
}

.text-spacer p{
  margin-bottom: 30px;
}

.vertical-space-reducer-top{
  margin-top: -0.5em !important;
}

.vertical-space-reducer-top-10{
  margin-top: -10em !important;
}


.vertical-space-reducer-bottom{
  margin-bottom: -0.5em !important;
}

.vertical-space-increase-bottom{
  margin-bottom: 1em !important;
}

.vertical-space-increase-bottom-2{
  margin-bottom: 2em !important;
}

.vertical-space-increase-top{
  margin-top: 1em !important;
}

.vertical-space-increase-top-lg{
  margin-top: 4em !important;
}

.vertical-space-increase-top-lg-8{
  margin-top: 8em !important;
}

.vertical-space-increase-top-lg-10{
  margin-top: 10em !important;
}
.vertical-space-increase-top-lg-12{
  margin-top: 12em !important;
}
.vertical-space-increase-top-lg-14{
  margin-top: 14em !important;
}
.vertical-space-increase-top-lg-16{
  margin-top: 16em !important;
}
.vertical-space-increase-top-lg-18{
  margin-top: 18em !important;
}
.vertical-space-increase-top-xl-20{
  margin-top: 28em !important;
}

.vertical-space-reducer-bottom-4{
  margin-bottom: -4em !important;
}
.vertical-space-reducer-top-2{
  margin-top: -2em !important;
}
.vertical-space-reducer-bottom-lg-8{
  margin-bottom: -8em !important;
}
.vertical-space-reducer-top-1{
  margin-top: -1em !important;
}

.horzontal-space-reducer-left-sm{
  margin-left: -5px;
}

.bold-text{
  font-weight: bold;
}

.text-weight-600{
  font-weight: var(--unnamed-font-weight-600);
}

.footer-nav{
  display: inline;
  float: left;
  margin-right: 4em;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 12px/15px var(--unnamed-font-family-dosis);
  color: var(--light-mint);
  text-align: center;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  opacity: 1;
  font-family: var(--unnamed-font-family-dosis);
}

.btn-generic-focus-color {
  background-color: var(--chalk-mint) !important;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: var(--chalk-mint);
    margin-left: 200px;
  }
  
  .hide{
    display: none;
  }
  .show{
    display: block;
  }
  
  .show-flex{
    display: inline-flex;
  }
  
  
  .calendar-picker{
    background-color:#FFFFFF;
    border-color: var(--deep-forest);
    position: relative;
  }
  
  .horzontal-space-left-sm{
    margin-left: 0.5em !important;
  }
  
  .horzontal-space-left-md{
    margin-left: 2em !important;
  }
  
  .input-text{
    border: 1px solid var(--muted-forest);
    border-radius: 2px;
    opacity: 1;
    width: 95%;
    padding: 10px;
    font-family: var(--unnamed-font-family-open-sans);
    font-weight: var(--unnamed-font-weight-600);
    color: var(--muted-forest);
    font-size: 18px;
  }
  
  
  ::placeholder {
    color: var(--chalk-mint);
    font-weight: lighter;
    font-size: 16px;
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: var(--deep-forest);
    border-width: 0;
    background-color: white;
    background-image: url("assets/images/ProTec_Software_Icon_check-2B4645.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color:var(--deep-forest);
    opacity: 0;
    
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: var(--deep-forest);
    opacity: 0;
  }
  
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-ripple .mat-ripple-element {
    display: none;
    background-color: var(--deep-forest);
  }
  
  .mat-checkbox.mat-accent .mat-radio-inner-circle{
    background-color:var(--deep-forest);
    opacity: 0;
    
  }
  
  .mat-checkbox.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: var(--deep-forest);
    opacity: 0;
  }
  
  .mat-checkboxma.mat-accent.mat-radio-checked .mat-radio-ripple .mat-ripple-element {
    display: none;
    background-color: var(--deep-forest);
  }
  
  .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: var(--deep-forest)!important;
  }
  
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    border-color: transparent;
    border-width: 0;
    background-color: white;
    background-image: url("assets/images/ProTec_Software_Icon_check-2B4645.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
  }
  
  .mat-checkbox-ripple{
    background-color: transparent;
  }
  
  .width-100{
    width: 100%;
  }
  
  .list-check-tic {
    list-style-image: url("assets/images/ProTec_Software_Icon_okay.svg")
  }
  
  .tick-size{
    height: 1.5em;
    display: inline-block;
  }
  
  .check-list{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 18px/24px var(--unnamed-font-family-open-sans);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--muted-forest);
    text-align: left;
    font-size: 18px;
    opacity: 1;
  }
  
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    padding: 7px;
    border-radius: 0;
  }
  
  select::-ms-expand {
    display: none;
  }
  