<img *ngIf="false" src="../../../../assets/images/body/ProTec_Software_Figure_pixel-aigned_big.svg" class="body-style-full-image">

<div class="bf-full-content">
    <div align="center">
        <table border="0">
            
            <tr>
                <td colspan="10">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-head.svg" class="bf-head-comp bf-comp" (click)="selectBodyPart('head')">
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td valign="bottom">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-elbow-left.svg" class="bf-elbow-left-comp bf-comp" (click)="selectBodyPart('elbow-left')">
                    </div>
                </td>
                <td valign="bottom">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-upper-arm-left.svg" class="bf-upper-arm-left-comp bf-comp" (click)="selectBodyPart('upper-arm-left')">
                    </div>
                </td>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-shoulder-left.svg" class="bf-shoulder-left-comp bf-comp" (click)="selectBodyPart('shoulder-left')">
                    </div>
                </td>
                <td colspan="2">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-torso.svg" class="bf-torso-comp bf-comp" (click)="selectBodyPart('torso')">
                    </div>
                </td>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-shoulder-right.svg" class="bf-shoulder-right-comp bf-comp" (click)="selectBodyPart('shoulder-right')">
                    </div>
                </td>
                <td valign="bottom">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-upper-arm-right.svg" class="bf-upper-arm-right-comp bf-comp" (click)="selectBodyPart('upper-arm-right')">
                    </div>
                </td>
                <td valign="bottom">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-elbow-right.svg" class="bf-elbow-right-comp bf-comp" (click)="selectBodyPart('elbow-right')">
                    </div>
                </td>
                <td></td>
            </tr>

            <tr>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-hand-left.svg" class="bf-hand-left-comp bf-comp" (click)="selectBodyPart('hand-left')">
                    </div>
                </td>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-forearm-left.svg" class="bf-forearm-left-comp bf-comp" (click)="selectBodyPart('forearm-left')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td>
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-hip-left.svg" class="bf-hip-left-comp bf-comp" (click)="selectBodyPart('hip-left')">
                    </div>
                </td>
                <td>
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-hip-right.svg" class="bf-hip-right-comp bf-comp" (click)="selectBodyPart('hip-right')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-forearm-right.svg" class="bf-forearm-right-comp bf-comp" (click)="selectBodyPart('forearm-right')">
                    </div>
                </td>
                <td valign="top">
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-hand-right.svg" class="bf-hand-right-comp bf-comp" (click)="selectBodyPart('hand-right')">
                    </div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-thigh-left.svg" class="bf-thigh-left-comp bf-comp" (click)="selectBodyPart('thigh-left')">
                    </div>
                </td>
                <td>
                    <div style="text-align: center;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-thigh-right.svg" class="bf-thigh-right-comp bf-comp" (click)="selectBodyPart('thigh-right')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div style="text-align: left;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-knee-left.svg" class="bf-knee-left-comp bf-comp" (click)="selectBodyPart('knee-left')">
                    </div>
                </td>
                <td>
                    <div style="text-align: right;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-knee-right.svg" class="bf-knee-right-comp bf-comp" (click)="selectBodyPart('knee-right')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div style="text-align: left;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-lower-leg-left.svg" class="bf-leg-left-comp bf-comp" (click)="selectBodyPart('leg-left')">
                    </div>
                </td>
                <td>
                    <div style="text-align: right;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-lower-leg-right.png" class="bf-leg-right-comp bf-comp" (click)="selectBodyPart('leg-right')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td colspan="2">
                    <div style="text-align: left;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-foot-left.svg" class="bf-foot-left-comp bf-comp" (click)="selectBodyPart('foot-left')">
                    </div>
                </td>
                <td colspan="2">
                    <div style="text-align: right;">
                        <img src="../../../../assets/images/body/ProTec_Software_Figure_pa-foot-right.svg" class="bf-foot-right-comp bf-comp" (click)="selectBodyPart('foot-right')">
                    </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>

<canvas  *ngIf="false" id="bodyCanvas"></canvas>