<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row horzontal-space-left-sm">
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Anrede'  | translate }} </p>
                                    <select name="Anrede" id="Anrede" class="input-text vertical-space-increase-bottom-2 input-select-dropdown">
                                        <option value="">-</option>
                                        <option value="Herr">Herr</option>
                                        <option value="Frau">Frau</option>
                                        <option value="Divers">Frau</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Titel'  | translate }} </p>
                                    <input type="text" class="input-text vertical-space-increase-bottom-2" placeholder="{{'Titel'  | translate }}">
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Vorname *'  | translate }} </p>
                                    <input type="text" name="Vorname" id="Vorname" class="input-text vertical-space-increase-bottom-2" placeholder="{{'Vorname'  | translate }}" required>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Nachname *'  | translate }} </p>
                                    <input type="text" name="Nachname" id="Nachname" class="input-text vertical-space-increase-bottom-2" placeholder="{{'Nachname'  | translate }}" required>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Geburtsdatum *'  | translate }} </p>
                                    <app-calendar required></app-calendar>
                                </div>
                            </div>
                    </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>