<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row horzontal-space-left-sm">
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Anrede'  | translate }} </p>
                                    <select 
                                        name="Anrede" 
                                        id="Anrede" 
                                        class="input-text vertical-space-increase-bottom-2 input-select-dropdown" 
                                        [(ngModel)]="salutation.value" 
                                        (change)="verifyInput()">
                                        <option value="">{{'Option auswählen' | translate }}</option>
                                        <option value="Herr">{{'Herr' | translate }}</option>
                                        <option value="Frau">{{'Frau' | translate }}</option>
                                        <option value="Divers">{{'Diverse' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Titel'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Titel'  | translate }}" 
                                        [(ngModel)]="title.value" 
                                        (input)="verifyInput()">
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Vorname *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        name="Vorname" 
                                        id="Vorname" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        [(ngModel)]="firstName.value" 
                                        (input)="verifyInput()" 
                                        placeholder="{{'Vorname'  | translate }}" 
                                        required>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Nachname *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        name="Nachname" 
                                        id="Nachname" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        [(ngModel)]="lastName.value" 
                                        (input)="verifyInput()" 
                                        placeholder="{{'Nachname'  | translate }}" 
                                        required>
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div class="calendar-container">
                                    <p class="para-text horzontal-space-left-sm"> {{'Geburtsdatum *'  | translate }} </p>
                                    <app-calendar 
                                        required 
                                        (dateSet)="setDate($event)" 
                                        [initialDate]="this.birthDate.value"></app-calendar>
                                </div>
                            </div>
                    </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>