.content-text{
  font: var(--unnamed-font-style-normal) normal normal;
  font-family: "Open sans", sans-serif;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
