

<div class="base-content">
    <div>
        <app-stepper></app-stepper>
    </div>
    <div>
        <div class="generic-box-content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                   <div class="vertical-space-increase-bottom">
                        <h2 class="h2-title">
                            {{ 'OH NO!' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top </div>">
                            {{ 'ES TUT UNS LEID…' | translate }}
                        </h1>
                   </div>
                    <br>
                    <div>
                        <p class="para-text">
                            {{ 'Leider erfüllen die von Dir angegebenen Ereignisse nicht die notwendigen Vorraussetzungen für einen legitimen Rentenanspruch. Die Datenerfassung wird daher an dieser Stelle nicht weitergeführt. ' | translate }}
                        </p>
                        <p class="para-text vertical-space-increase-top">
                            {{ 'Klicke auf den Button um weitere Versicherungsfälle zu prüfen.' | translate }}
                        </p>
                    </div>
                    <div class="step-one-btn-content-wrs vertical-space-increase-top-lg">
                        <app-g-button [data]="dataButton"></app-g-button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4"></div>

                <div class="col-lg-3 col-md-2 col-sm-4 vertical-space-increase-top-lg-8">
                    <img src="../../../../assets/images/ProTec_Software_Graphic_we-are-sorry.svg" class="generic-img"/>
                </div>
                <div class="container-fluid vertical-space-increase-top-lg">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>