.side-window-container {
    min-height: 60em;
}

.step-one-btn-content {
    margin-top: 50px;
    width: 211px;
}

.step-one-btn-content:hover{
    background:var(--deep-forest);
    color: #FFFFFF;
}