<mat-drawer-container class="side-window-container" hasBackdrop="true">

    <mat-drawer #drawer mode="over" position="end" opened>
        <div class="side-window-content">
            <div class="side-window-close-content mb-3">
                <span mat-raised-button (click)="drawer.toggle()" class="side-window-close-icon">X</span>
            </div>
            <div>
                <h1 class="mt-0 mb-4 side-window-title">
                    {{ 'DATENSCHUTZ' | translate }}
                </h1>
                <h6 class="mt-0 mb-2 side-window-sub-title">
                    {{ 'Cookie-Einstellungen' | translate }}
                </h6>
                <p class="mt-2 mb-2 side-window-text">
                    {{ 'Deine Daten gehören Dir. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.' | translate }}
                </p>
                <a class="side-window-link" [routerLink]="cookieGuideLink">
                    {{ 'Weitere Informationen' | translate }}
                </a>
                <div class="mt-4 side-window-checks-content">
                    <mat-radio-button class="side-window-checkbox-label">
                        {{ 'Essenziell' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="side-window-checkbox-label">
                        {{ 'Statistiken' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="side-window-checkbox-label">
                        {{ 'Funktional' | translate }}
                    </mat-radio-button>
                    <mat-radio-button class="side-window-checkbox-label">
                        {{ 'Marketing' | translate }}
                    </mat-radio-button>
                </div>
                <div class="mt-4">
                    <div class="mt-2 mb-2">
                        <app-g-button [data]="cookieWindowButton.dataButtonOptionOne"></app-g-button>
                    </div>
                    <div class="mt-2 mb-2">
                        <app-g-button [data]="cookieWindowButton.dataButtonOptionTwo"></app-g-button>
                    </div>
                    <div class="mt-2 mb-2">
                        <app-g-button [data]="cookieWindowButton.dataButtonOptionThree"></app-g-button>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer>
    
    <mat-drawer-content>

        <div class="base-content">
            <div>
                <div>
                    <app-stepper></app-stepper>
                </div>
                <div>
                    <div class="generic-box-content">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-sm-12">
                               <div class="vertical-space-increase-bottom">
                                    <h2 class="h2-title">
                                        {{ 'OH WOW' | translate }}
                                    </h2>
                                    <h1 class="mt-0 mb-4 title-text </div>">
                                        {{ 'TOLLE ÜBERSCHRIFT' | translate }}
                                    </h1>
                               </div>
                                <br>
                                <div>
                                    <p class="para-text bold-text">
                                        {{ 'Herzlich Willkommen beim digitalen Rentenanspruchsprüfer!' | translate }}
                                    </p>
                                    <p class="para-text">
                                        {{ 'Du hast nun die Möglichkeit in 4 Schritten kostenlos und unverbindlich Deine Rentenansprüche zu prüfen. Bei Rückfragen stehen wir Dir jederzeit gerne zur Verfügung. Wähle in diesem Fall bitte die „Hilfe & Kontakt“ Option.' | translate }}
                                    </p>
                                </div>
                                <div class="step-one-btn-content">
                                    <app-g-button [data]="dataButton"></app-g-button>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <img src="../../../../assets/images/human.png" class="wizard-img"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </mat-drawer-content>


</mat-drawer-container>