

<div class="base-content">
    <div>
        <app-stepper></app-stepper>
    </div>
    <div>
        <div class="generic-box-content">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12">
                   <div class="vertical-space-increase-bottom">
                        <h2 class="h2-title">
                            {{ 'welcome_exclamation' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top </div>">
                            {{ 'great_headline_mock' | translate }}
                        </h1>
                   </div>
                    <br>
                    <div>
                        <p class="para-text text-weight-600">
                            {{ 'welcome_message1' | translate }}
                        </p>
                        <p class="para-text">
                            {{ 'welcome_message2' | translate }}
                        </p>
                    </div>
                    <div class="step-one-btn-content">
                        <app-g-button [data]="dataButton"></app-g-button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="../../../../assets/images/human.png" class="generic-img"/>
                </div>
            </div>
        </div>
    </div>
</div>