.side-window-container {
    min-height: 100vh;
    width: 100%;
    top: 0px;
    background: transparent;
}

.step-one-btn-content {
    margin-top: 50px;
    width: 211px;
}

.step-one-btn-content:hover{
    background:var(--deep-forest);
    color: #FFFFFF;
    border-radius: 2px;
}