.warning-content {
    background-color: #ffd3d0;
    width: 100%;
    height: 50px;
    padding: 15px;
    margin-bottom: 20px;
}

.warning-text {
    text-align: center;
    color: #ff493d;
    font-weight: bold;
}

.warning-close-icon {
    width: 30px;
    cursor: pointer;
}