<div class="base-content">
    <div>
        <app-stepper></app-stepper>
    </div>
    <div>
        <div class="generic-box-content">
            <div class="row base-min-height-45">
                <div class="col-lg-7 col-md-6 col-sm-12">
                   <div class="vertical-space-increase-bottom">
                        <h2 class="h2-title">
                            {{ 'die-details.SCHRITT 2' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            {{ 'DIE DETAILS' | translate }}
                        </h1>
                   </div>
                    <br>
                    <div>
                        <p class="para-text vertical vertical-space-increase-top">
                            {{ 'die-details.Nachdem die Grundvorraussetzung für Rentenansprüche erfüllt sind, möchten wir im folgenden Schritt mit der Detailsprüfung starten. Hierfür erfasst Du nun ereignisspezifische Angaben bezüglich Deines Arbeitgebers sowie der Art Deiner Verletzung bzw. Erkrankung.' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <img src="../../../../assets/images/die-detail.png" class="generic-img"/>
                </div>
            </div>
            <div class="container-fluid">
                <app-g-button [data]="pageNav.navegation"></app-g-button>
            </div>
        </div>
    </div>
</div>