<div class="base-content">
    <div>
        <div>
            <div class="generic-box-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="h2-title">
                            <div>{{ 'PAGE NOT FOUND - 404' | translate }}</div>
                        </h2>
                        <div class="mt-0 mb-4 content-text">
                            <div>This page probably doesn't exist yet, or has not been linked.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>