html,
body {
    height: 100%;
}

.tableContainer {
    height: 100%;
    margin-top: 5em;
    justify-content: center;
    align-items: center;
}

.headerInformation {
    padding-left: 2em !important;
}

.panel-default > .panel-heading {
    background-image: none;
    background-color: #474747;
    color: white;
}
