<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div>
                            <h2 class="h2-title">
                                {{ 'ERFASSTE SCHADENSFÄLLE' | translate }}
                            </h2>
                            <div>
                                <select 
                                    class="input-text input-select-dropdown summary-select-box" 
                                    placeholder="SELECT OPTION" 
                                    #claim
                                    (change)="onSelectClaim(claim.value)">
                                    <option value="">Select option</option>
                                    <option *ngFor='let item of claims' [value]="item.id">
                                        {{item.title}}
                                    </option>
                                </select>
                                <i class="bi-pencil-fill margin-horizontal summary-action-icons" (click)="edit()"></i>
                                <i class="bi-trash-fill margin-horizontal summary-action-icons" (click)="delete()"></i>
                                <i class="bi-plus margin-horizontal summary-action-icons summary-custom-plus-icon" (click)="add()"></i>
                            </div>
                            <div class="mt-3">
                                <div class="summary-content-card">
                                    <div class="row">
                                        <div class="col-6">
                                            <div *ngFor="let item of leftInfo; let i = index">
                                                <ng-container *ngIf="i < 4">
                                                    <p class="summary-info-label">
                                                        {{item.label | translate}}
                                                    </p>
                                                    <input class="input-text vertical-space-increase-bottom-2 summary-info-value"  value="{{item.value}}" [disabled]="editMode"/>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div *ngFor="let item of leftInfo; let i = index">
                                                <ng-container *ngIf="i > 3">
                                                    <p class="summary-info-label">
                                                        {{item.label | translate}}
                                                    </p>
                                                    <input class="input-text vertical-space-increase-bottom-2 summary-info-value"  value="{{item.value}}" [disabled]="editMode"/>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div>
                            <h2 class="h2-title">
                                {{ 'ANGABEN ZUR VERLETZUNG' | translate }}
                            </h2>
                            <div class="mb-4">
                                <button [ngClass]="currentTab == 1 ? 'summary-btn-outline' : 'summary-btn-outline disabled-btn'" (click)="changeTab(1)">1</button>
                                <button [ngClass]="currentTab == 2 ? 'summary-btn-outline' : 'summary-btn-outline disabled-btn'" (click)="changeTab(2)">2</button>
                                <button [ngClass]="currentTab == 3 ? 'summary-btn-outline' : 'summary-btn-outline disabled-btn'" (click)="changeTab(3)">3</button>
                            </div>
                            
                            <div class="mt-4" *ngIf="currentTab == 1">
                                <div class="summary-content-card">
                                    <div class="row">
                                        <div class="col-6">
                                            <div *ngFor="let item of leftInfo; let i = index">
                                                <ng-container *ngIf="i < 4">
                                                    <p class="summary-info-label">{{item.label}}</p>
                                                    <input class="input-text vertical-space-increase-bottom-2 summary-info-value"  value="{{item.value}}" [disabled]="editMode"/>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div *ngFor="let item of leftInfo; let i = index">
                                                <ng-container *ngIf="i > 3">
                                                    <p class="summary-info-label">{{item.label}}</p>
                                                    <input class="input-text vertical-space-increase-bottom-2 summary-info-value"  value="{{item.value}}" [disabled]="editMode"/>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4" *ngIf="currentTab == 2">
                                <div class="summary-content-card">
                                    <div class="row">
                                        <div class="col-6">
                                            
                                        </div>
                                        <div class="col-6">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4" *ngIf="currentTab == 3">
                                <div class="summary-content-card">
                                    <div class="row">
                                        <div class="col-6">
                                            
                                        </div>
                                        <div class="col-6">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>