<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content addScroll scrollbar-primary scroll-bar ">
                <div class="row">
                    <div class="col-lg-10 col-md-8 col-sm-1 overflow-auto ">
                        <h2 class="h2-title">
                            {{ 'OH WOW' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text">
                            {{ 'AGB' | translate }}
                        </h1>
                        <p class="mt-4 mb-4">
                            <b class="para-text-bold">
                                {{ 'Präambel' | translate }}
                            </b>
                        </p>
                        <p class="para-text">
                            {{ 'Pro:Tec bietet Prozessfinanzierungsleistungen mit IT-gestützten Leistungselementen bei der Durchsetzung sozialversicherungsrechtlicher Ansprüche an. Die folgenden Nutzungsbedingungen gelten dabei für die Informationswebseite („protec-solutions.de“) sowie die Registrierung zur und Durchführung einer unverbindlichen Vorprüfung („protec.help“).' | translate }}
                        </p>
                        <p class="mt-4 mb-4">
                            <b class="para-text-bold">
                                {{ '1. Geltungsbereich' | translate }}
                            </b>
                        </p>
                        <p class="para-text">
                            {{ 'Die vorliegenden Nutzungsbedingungen finden Anwendung auf das Informationsangebot der Firma Pro:Tec Solutions GmbH, Sophienstraße 40, 38118 Braunschweig (AG Braunschweig HRB 209067, Umsatzsteuer-ID: DE338227682) vertreten durch den Geschäftsführer Alexander Naumann (im Folgenden „Pro:Tec“ oder „wir“) auf dieser Webseite (protec-solutions.de) sowie für den Prozess einer kostenlosen und unverbindlichen Vorprüfung (unter der Domain: protec.help). Die Prozessfinanzierung selbst ist Gegenstand einer individualisierten vertraglichen Regelung und nicht von diesen Nutzungsbedingungen erfasst.' | translate }}
                        </p>
                        <p class="mt-4 mb-4">
                            <b class="para-text-bold">
                                {{ '2. Regelungen für die Registrierung und Vorprüfung' | translate }}
                            </b>
                        </p>
                        <p class="para-text">
                            {{ '(1) Um Ihren Sachverhalt auf die Abgabe eines etwaigen Prozessfinanzierungsangebots prüfen zu können, benötigen wir von' | translate }}
                        </p>
                    </div>

                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.home"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>