<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-12">
                                        <img [src]="getBodyPartImage()" class="body-part-style-image">
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="vertical-space-increase-bottom">
                                             <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                                                 {{ bodyPartTitle | translate }}
                                             </h1>
                                             <p>{{ 'Bitte wähle die zutreffende(n) Verletzung(en) aus.' | translate }}</p>
                                             <div class="row">
                                                 <div class="col-12" style="margin-bottom: 30px;">
                                                     <app-multi-select
                                                             #primary_multi_select
                                                             [data]="primaryOptions" (handleOpen)="handleOpen($event)">
                                                     </app-multi-select>
<!--                                                    <div style="float:left">-->
<!--                                                        <p-multiSelect-->
<!--                                                            [options]="options"-->
<!--                                                            [(ngModel)]="selectedOptions"-->
<!--                                                            defaultLabel="Select a option"-->
<!--                                                            optionLabel="name"-->
<!--                                                            display="chip">-->
<!--                                                        </p-multiSelect>-->
<!--                                                    </div>-->
                                                 </div>
                                                 <div class="col-12">
                                                     <app-multi-select
                                                             #secondary_multi_select
                                                             [data]="secondaryOptions" (handleOpen)="handleOpen($event)">
                                                     </app-multi-select>

                                                     <!-- <div style="float:left">-->
<!--                                                        <p-multiSelect -->
<!--                                                            [options]="subOptions" -->
<!--                                                            [(ngModel)]="selectedSubOptions" -->
<!--                                                            defaultLabel="Select a option" -->
<!--                                                            optionLabel="name" -->
<!--                                                            display="chip">-->
<!--                                                        </p-multiSelect>-->
<!--                                                    </div>-->
                                                 </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>