<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row horzontal-space-left-sm">
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Straße / Hausnummer *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        [(ngModel)]="street.value" 
                                        (input)="verifyInput()" 
                                        placeholder="{{'Straße / Hausnummer'  | translate }}" 
                                        required>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'Adresszusatz'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Adresszusatz'  | translate }}" 
                                        [(ngModel)]="addressSupplement.value" 
                                        (input)="verifyInput()">
                                </div>
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Postleitzahl *'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        name="Vorname" 
                                        id="Postleitzahl" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        [(ngModel)]="postCode.value" 
                                        (input)="verifyInput()" 
                                        placeholder="{{'Postleitzahl'  | translate }}" 
                                        required>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm" > {{'Stadt'  | translate }} </p>
                                    <input 
                                        type="text" 
                                        name="Nachname" 
                                        id="Nachname" 
                                        class="input-text vertical-space-increase-bottom-2" 
                                        placeholder="{{'Stadt'  | translate }}" 
                                        [(ngModel)]="city.value" 
                                        (input)="verifyInput()">
                                </div>
                            </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="para-text horzontal-space-left-sm vertical-space-increase-top"> {{'Land'  | translate }} </p>
                            <input 
                                type="text" 
                                class="input-text vertical-space-increase-bottom-2" 
                                placeholder="{{'Land'  | translate }}" 
                                [(ngModel)]="country.value" 
                                (input)="verifyInput()">
                        </div>
                        <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                            <div class="col-lg-6 col-md-5 col-sm-12">
                                <p class="para-text horzontal-space-left-sm" > {{'E-Mail-Adressen'  | translate }} </p>
                                <input 
                                    type="email" 
                                    name="email" 
                                    id="email" 
                                    class="input-text vertical-space-increase-bottom-2" 
                                    placeholder="{{'E-Mail-Adressen'  | translate }}" 
                                    [(ngModel)]="email.value" 
                                    (input)="verifyInput()">
                            </div>
                            <div class="col-lg-6 col-md-5 col-sm-12">
                                <p class="para-text horzontal-space-left-sm" required> {{'Mobilfunknummer *'  | translate }} </p>
                                <input 
                                    type="number" 
                                    name="Mobilfunknummer" 
                                    id="Mobilfunknummer" 
                                    class="input-text vertical-space-increase-bottom-2"  
                                    [(ngModel)]="mobileNumber.value" 
                                    (input)="verifyInput()" 
                                    placeholder="{{'Mobilfunknummer'  | translate }}">
                            </div>
                        </div>

                    </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>