.header-desktop {
    display: block;
    height: 100%;
}

.header-mobile {
    display: none;
}

@media (max-width: 767px) {
    .header-desktop {
        display: none;
    }
    .header-mobile {
        display: block;
    }
}