<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row horzontal-space-left-sm">
                    <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <p class="para-text horzontal-space-left-sm"> {{'Arbeitgeber'  | translate }} </p>
                            <input type="text" class="input-text vertical-space-increase-bottom-2" placeholder="{{'(damaliger) Arbeitgeber'  | translate }}" required>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <p class="para-text horzontal-space-left-sm"> {{'PLZ Arbeitgeber *'  | translate }} </p>
                            <p *ngIf="postCode.error">{{postCode.error}}</p>
                            <input type="text" class="input-text vertical-space-increase-bottom-2" [(ngModel)]="postCode.value" (input)="verifyInput()" placeholder="{{'PLZ des Arbeitgebers'  | translate }}" >
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <p class="para-text horzontal-space-left-sm"> {{'Was ist Deine berufliche Tatigkeit?*'  | translate }} </p>
                        <p *ngIf="occupation.error">{{occupation.error}}</p>
                        <input type="text" class="input-text vertical-space-increase-bottom-2" [(ngModel)]="occupation.value" (input)="verifyInput()" placeholder="{{'(damaliger) Beruf'  | translate }}">
                    </div>
                    <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <p class="para-text horzontal-space-left-sm" > {{'Zustandige BG / UV'  | translate }} </p>
                            <select
                                    class="input-text vertical-space-increase-bottom-2"
                                    class="input-text vertical-space-increase-bottom-2 input-select-dropdown">
                                <option value="">Option auswahlen</option>
                                <option
                                        *ngFor="let item of options"
                                        value="{{item.code}}">
                                    {{item.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-5 col-sm-12">
                            <p class="para-text horzontal-space-left-sm" required> {{'Aktenzeichen'  | translate }} </p>
                            <input
                                    type="number"
                                    name="Mobilfunknummer"
                                    id="Mobilfunknummer"
                                    class="input-text vertical-space-increase-bottom-2"
                                    placeholder="{{'Optional falls bekannt'  | translate }}">
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation" (linkFunction)="saveInputs()"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>