.content-text{
  font: var(--unnamed-font-style-normal) normal normal;
  font-family: "Open sans", sans-serif;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.calendar-container {
  width: 100%;
  font-family: var(--unnamed-font-family-dosis);

  .toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
  }
  .margin-horizontal-right{
    margin-right: 10px;
  }
  .toggle-button {
    flex: 1;
    padding: 0 10px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    letter-spacing: 2px;
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px solid var(--muted-forest);
    transition: 500ms ease-in-out;
    color: var(--muted-forest);
    font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-dosis);
  }

  .toggle-button-active {
    background-color: var(--45-chalk-mint);
    font-weight: 600;
  }

  .toggle-button-completed {
    background-color: var(--muted-forest);
    color: white;
  }

  .options-container {
    padding: 10px;
    height: 150px;
    border: 1px solid var(--muted-forest);
    scrollbar-base-color: var(--chalk-mint);
    grid-template-columns: repeat(4, 1fr);
    margin-right: 2px;
    overflow-y: auto;

  }

  .options-container-day {
    padding: 10px;
    height: 200px;
    border: 1px solid var(--muted-forest);
    scrollbar-base-color: var(--chalk-mint);
    grid-template-columns: repeat(7, 1fr);
    margin-right: 2px;

  }

  .option-button-container {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .option-button {
    margin: 0 20px;
    border: none;
    outline: none;
    display: inline-flex;
    padding: 8px;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 14px;
    color: var(--muted-forest);
    background-color: white;
    font-family: var(--unnamed-font-family-dosis);
    font-weight: 600;
    transition: 500ms ease-in-out;

    &:hover {
      background-color: var(--45-chalk-mint);
    }
  }
}


.p-calendar-input {
  background-color: red;
}

.p-inputtext {
  background-color: yellow;
}

.hide{
  display: none;
}

.show{
  display: grid;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--chalk-mint);
  margin-left: 200px;
}