<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                    <div class="row horzontal-space-left-sm">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p class="para-text horzontal-space-left-sm"> {{'illness.Was wurde diagnostiziert? *'  | translate }} </p>
                                <input 
                                    type="text" 
                                    class="input-text vertical-space-increase-bottom-2" 
                                    placeholder="{{'Text eingeben'  | translate }}"
                                    [(ngModel)]="whatWasDiagnosed" 
                                    (input)="verifyInput()">
                            </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top">
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <p class="para-text horzontal-space-left-sm"> {{'illness.Dauer der Krankschreibung:'  | translate }} </p>
                                </div>
                                <div class="col-lg-6 col-md-5 col-sm-12">
                                    <mat-radio-button 
                                        name="krankgeschrieben" 
                                        class="para-text radio-button" 
                                        (click)="hideOptions()" 
                                        [checked]="currentlySickLeave"> {{ 'illness.Ich bin derzeit noch krankgeschrieben.' | translate }} </mat-radio-button></div>
                                </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12 vertical-space-increase-top-lg">
                                <div class="col-lg-6 col-md-6 col-sm-12 ">
                                    <p class="para-text horzontal-space-left-sm"> {{'Beginn'  | translate }} </p>

                                    <div class="calendar-container">
                                        <div class="toggle-container">
                                            <div class="toggle-button margin-horizontal-right" [ngClass]="year_head_class_Beginning">
                                                {{year_head_label_Beginning}}
                                            </div>
                                            <div class="toggle-button margin-horizontal-right" [ngClass]="month_head_class_Beginning">
                                                {{month_head_label_Beginning}}
                                            </div>
                                            <div class="toggle-button" [ngClass]="day_head_class_Beginning">
                                                {{day_head_label_Beginning}}
                                            </div>
                                        </div>
                                        <div class="options-container scrollbar-primary" [ngClass]="year_selector_class_Beginning">
                                            <div  class="option-button-container" *ngFor='let in of counter(50) ;let i = index '>
                                                <button class="option-button" [value]="currentYear-i" (click)="selectYear(currentYear-i)">
                                                    {{currentYear-i}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="options-container scrollbar-primary" [ngClass]="month_selector_class_Beginning">
                                            <div  class="option-button-container" *ngFor='let in of counter(months+1) ;let i = index '>
                                                <button class="option-button"  (click)="selectMonth(i)">
                                                    {{monthNames[i]}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="options-container-day scrollbar-primary" [ngClass]="day_selector_class_Beginning">
                                            <div  class="option-button-container" *ngFor='let in of counter(getDaylist()) ;let i = index '>
                                                <button class="option-button" [value]="i" (click)="selectDay(i+1)">
                                                    {{i+1}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 vertical-space-increase-bottom-2" >
                                    <p class="para-text horzontal-space-left-sm" [hidden]="currentlySickLeave"> {{'Enddatum'  | translate }}</p>

                                    <div class="calendar-container" [hidden]="currentlySickLeave">
                                        <div class="toggle-container">
                                            <div class="toggle-button margin-horizontal-right" [ngClass]="year_head_class_end">
                                                {{year_head_label_end}}
                                            </div>
                                            <div class="toggle-button margin-horizontal-right" [ngClass]="month_head_class_end">
                                                {{month_head_label_end}}
                                            </div>
                                            <div class="toggle-button" [ngClass]="day_head_class_end">
                                                {{day_head_label_end}}
                                            </div>
                                        </div>
                                        <div class="options-container scrollbar-primary" [ngClass]="year_selector_class_end">
                                            <div  class="option-button-container" *ngFor='let in of counter(currentYear-selectedBeginningYear+1) ;let i = index '>
                                                <button class="option-button" [value]="currentYear-i" (click)="selectYear(currentYear-i)">
                                                    {{currentYear-i}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="options-container scrollbar-primary" [ngClass]="month_selector_class_end">
                                            <div  class="option-button-container" *ngFor='let in of counter(months-start_end_month+1) ;let i = index '>
                                                <button class="option-button"  (click)="selectMonth(start_end_month+i)">
                                                    {{monthNames[start_end_month+i]}}
                                                </button>
                                            </div>
                                        </div>
                                        <div class="options-container-day scrollbar-primary" [ngClass]="day_selector_class_end">
                                            <div  class="option-button-container" *ngFor='let in of counter(getDaylist()-start_end_day+1) ;let i = index '>
                                                <button class="option-button" [value]="i" (click)="selectDay(i+1)">
                                                    {{i+start_end_day}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                    </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation" (linkFunction)="saveAll($event)"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>