<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    
    <property name="DEFAULT_PATTERN" value="[%thread] %highlight([%-5level]) | %d{HH:mm:ss} | %-60(%cyan(%class{36}.%M))  [%F:%L] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>


    <logger name="io.radien" level="debug" additivity="false">

        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="debug">
        <!-- 
        <appender-ref ref="FILE-AUDIT"/>
        <appender-ref ref="FILE-APP"/>
         -->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
