<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <h2>
                            {{ 'SCHRITT 1' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4">
                            {{ 'DAS SCHADENSEREIGNIS' | translate }}
                        </h1>
                        <p>
                            {{ 'Prüfe im ersten Schritt, ob Dein Arbeitsunfall, Dein Freizeitunfall oder Deine Krankheit die Grundvoraussetzungen für etwaige Rentenansprüche gegenüber den gesetzlichen und privatwirtschaftlichen Versicherungsträgern erfüllen. Um Dir unnötige Aufwände zu ersparen, erhältst Du im Falle einer negativen Prüfung unmittelbar Feedback. Anderfalls erfolgt in Schritt zwei die Detailabfrage.' | translate }}
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="../../../../assets/images/boom.png" class="generic-img"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-auto footer-nav text-dark vertical-space-increase-top-lg-14 vertical-space-reducer-bottom-4 bold-text"><app-g-button [data]="pageNav.home"></app-g-button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>