<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <h2 class="h2-title">
                            {{ 'step1_title' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                            {{ 'step1' | translate }}
                        </h1>
                        <p class="para-text">
                            {{ 'accident_description' | translate }}
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <img src="../../../../assets/images/boom.png" class="generic-img"/>
                    </div>
                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>