<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2>
                            {{ 'OH WOW' | translate }}
                        </h2>
                        <h1 class="mt-0 mb-4">
                            {{ 'IMPRESSUM' | translate }}
                        </h1>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p>
                                    {{ 'Angaben gemäß § 5 TMG: Pro:Tec Solutions GmbH Sophienstraße 40 38118 Braunschweig Vertreten durch: Geschäftsführer: Alexander Naumann Kontakt: Telefon: +49 (0)531 618 990 18 E-Mail: info@protec-solutions.de Registereintrag: Eintragung im Handelsregister. Registergericht: Amtsgericht Braunschweig Registernummer: HRB 209067' | translate }}
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p>
                                    {{ 'Umsatzsteuer: Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE338227682 Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV: Alexander Naumann Streitschlichtung: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: https://ec.europa.eu/consumers/odr. Unsere E-Mail-Adresse finden Sie oben im Impressum. Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-auto footer-nav text-dark vertical-space-increase-top-lg-14 vertical-space-reducer-bottom-4 bold-text"><app-g-button [data]="pageNav.home"></app-g-button></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>