.content-text{
  font: var(--unnamed-font-style-normal) normal normal 18px/24px ;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: left;
  font: normal normal normal 18px/24px Open Sans;
  letter-spacing: 0px;
  color: #3C3C3B;
  opacity: 1;
  font-family: var(--unnamed-font-family-open-sans);
}
.no-anchor{
  text-decoration: none;
  color: var(--off-black);
}