<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <app-warning [show]="showErrorMsg" [text]="textErrorMsg"></app-warning>
                        <p class="content-text">
                            {{ 'Hattest Du einen Arbeitsunfall, einen Freizeitunfall oder eine Krankheit?' | translate }}
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4 vertical-space-reducer-top-10">
                        <div class="row mt-4 justify-content-center">
                            <div class="col-lg-3 col-md-6 col-sm-9 mt-3" *ngFor="let item of buttons">
                                <app-g-button [data]="item"></app-g-button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>