<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div style="padding: 185px;padding-top: 0px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p class="content-text">
                                {{ 'Dein Unfalldatum' | translate }}
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mt-4 mb-4">
                            <div class="row mt-4 justify-content-center">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                        <p-calendar 
                                            [(ngModel)]="dtYear" 
                                            view="year" 
                                            dateFormat="yy" 
                                            inputId="yearpicker" 
                                            placeholder="JAHR *"
                                        ></p-calendar>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <p-calendar 
                                            [(ngModel)]="dtMonth" 
                                            view="month" 
                                            dateFormat="mm" 
                                            [readonlyInput]="true" 
                                            inputId="monthpicker" 
                                            placeholder="MONAT" 
                                            [disabled]="!dtYear"
                                        ></p-calendar>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <p-calendar 
                                            [(ngModel)]="dtDay" 
                                            [minDate]="minDate" 
                                            [maxDate]="maxDate"
                                            [readonlyInput]="true" 
                                            inputId="daypicker" 
                                            placeholder="TAG" 
                                            [disabled]="!dtMonth"
                                        ></p-calendar>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mt-4">
                            <p class="content-text">
                                {{ 'Bist bzw. warst Du krankgeschrieben? *' | translate }}
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 mt-4 mb-4">
                            <div class="row mt-4 justify-content-center">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let item of buttons">
                                        <app-g-button [data]="item"></app-g-button>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>