<div class="base-content">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content addScroll scrollbar-primary scroll-bar ">
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-sm-9 ">
                        <h2 class="h2-title">
                            <div>{{ 'OH WOW' | translate }}</div>
                        </h2>
                        <h1 class="mt-0 mb-4 title-text">
                            <div>{{ 'legal-data-policy.DATENSCHUTZ' | translate }}</div>
                        </h1>
                        <br/>
                        <p class="mb-4 mt-4 para-text scroll-bar">
                            {{ 'legal-data-policy.Wir bedanken uns für das in uns gesetzte Vertrauen und versichern, dass wir sensibel und im Sinne unserer Kunden mit denen uns zur Verfügung gestellten Daten agieren werden. Mit den nachfolgenden Hinweisen informieren wir Dich über Art, Umfang und Zweck der Erhebung und Verwendung personenbezogener Daten bei der Nutzung unseres Internetauftritts.' | translate }}
                        </p>
                        <br/>
                        <p class="mt-4 mb-4 para-text-bold">
                                {{ 'legal-data-policy.ÜBERBLICK' | translate }}
                        </p>
                        <p class="para-text">
                            <span>{{'legal-data-policy.I. Allgemeines' | translate}}</span>
                            <br> {{"legal-data-policy.1. Verantwortliche Stelle für die Datenverarbeitung." | translate}}
                            <br> {{"legal-data-policy.2. Kontakt für Fragen zum Datenschutz." | translate}}
                            <br> {{"legal-data-policy.3. Personenbezogene Daten." | translate}}
                        </p>
                        <p class="mt-4 para-text">
                            <span>{{"legal-data-policy.II. Registrierung und Nutzung als registrierter Anwender" | translate}}</span>
                            <br> {{"legal-data-policy.1. Registrierung bei protec - solutions.de(Benutzerkonto)" | translate}}
                            <br> {{"legal-data-policy.2. Bearbeitung von Anfragen und Überleitung zum Vertragsschluss." | translate}}
                            <br> {{"legal-data-policy.3. Nutzung von WhatsApp." | translate}}
                        </p>
                    </div>
                </div>
                <div class="container-fluid position-sticky">
                    <app-g-button [data]="pageNav.home"></app-g-button>
                </div>
            </div>

        </div>
    </div>
</div>