<div class="calendar-container">
  <div class="toggle-container">
    <div class="toggle-button margin-horizontal-right bt-action"  (click)='enableSelectYear()' [ngClass]="year_head_class">
      {{year_head_label | translate }}
    </div>
    <div class="toggle-button margin-horizontal-right bt-action" (click)='enableSelectMonth()' [ngClass]="month_head_class">
      {{month_head_label | translate}}
    </div>
    <div class="toggle-button bt-action" (click)='enableSelectDay()' [ngClass]="day_head_class">
      {{day_head_label | translate}}
    </div>
  </div>
  <div class="options-container scrollbar-primary" [ngClass]="year_selector_class">
    <div  class="option-button-container" *ngFor='let in of counter(100) ;let i = index '>
      <button class="option-button" [value]="currentYear-i" (click)="selectYear(currentYear-i)">
        {{currentYear-i}}
      </button>
    </div>
  </div>
  <div class="options-container scrollbar-primary" [ngClass]="month_selector_class">
    <div  class="option-button-container" *ngFor='let in of counter(months+1) ;let i = index '>
      <button class="option-button"  (click)="selectMonth(i)">
        {{monthNames[i]}}
      </button>
    </div>
  </div>
  <div class="options-container-day scrollbar-primary" [ngClass]="day_selector_class">
    <div  class="option-button-container" *ngFor='let in of counter(getDaylist()) ;let i = index '>
      <button class="option-button" [value]="i" (click)="selectDay(i+1)">
        {{i+1}}
      </button>
    </div>
  </div>
</div>