<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div>
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-12">
                                        <app-body-figure></app-body-figure>
                                    </div>
                                    <div class="col-lg-7 col-md-6 col-sm-12">
                                        <div class="vertical-space-increase-bottom">
                                             <h2 class="h2-title">
                                                 {{ 'DOLOR SIT MET' | translate }}
                                             </h2>
                                             <h1 class="mt-0 mb-4 title-text vertical-space-reducer-top">
                                                 {{ 'LOREM IPSUM' | translate }}
                                             </h1>
                                        </div>
                                         <br>
                                         <div>
                                             <p class="para-text vertical vertical-space-increase-top">
                                                 {{ 'Bitte klicke die von der Verletzung betroffene Körperregion an. Im nächsten Schritt gibst Du die Verletzung(en) und Verletzungsfolge(n) für diese Körperregion an. Wenn mehrere Körperregionen betroffen sind kannst Du weitere Verletzungen im Anschluss hinzufügen.' | translate }}
                                             </p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>