.bf-content {
    width: 200px;
    height: 200px;
}

.bf-head {
    /* Layout Properties */
    top: 335px;
    left: 524px;
    width: 52px;
    height: 77px;
    /* UI Properties */
    background: var(--45-chalk-mint) 0% 0% no-repeat padding-box;
    border: 1px solid var(--chalk-mint);
    background: #E3EAEA 0% 0% no-repeat padding-box;
    border: 1px solid #C1D0D0;
    opacity: 1;
}

.body-style-full-image {
    width: 80%;
}