.content-text{
  font: var(--unnamed-font-style-normal) normal normal;
  font-family: "Open sans", sans-serif;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--off-black);
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
}

.btn-more-injuries{
  justify-self: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.generic-box-content-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}