<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content align-content-center">
                <div class="row base-min-height-45 justify-content-center ">
                    <div class="col-lg-12 col-md-12 col-sm-12 ">
                        <p class="content-text vertical-space-increase-top-lg justify-content-center ">
                            {{ 'private-accident.Ergab sich eine weitere Verletzung aus diesem Unfall?' | translate }}
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 mt-4 vertical-space-reducer-top-10">
                        <div class="row mt-4 justify-content-center horzontal-space-left-md ">
                            <div class="col-lg-3 col-md-6 col-sm-9 mt-3 btn-more-injuries" *ngFor="let item of buttons">
                                <app-g-button [data]="item" (linkFunction)="selectButton($event)"></app-g-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>