<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content align-content-center">
                <div class="generic-box-content-centered">
                        <p class="content-text justify-content-center ">
                            {{ 'Ergab sich eine weitere Verletzung aus diesem Unfall?' | translate }}
                        </p>
                    <div style="margin-top: 110px"></div>
                        <div class="btn-more-injuries">
                            <div *ngFor="let item of buttons">
                                <app-g-button [data]="item" (linkFunction)="selectButton($event)"></app-g-button>
                            </div>
                        </div>
                </div>
                <div class="bottom-nav-buttons">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>