<div class="base-content" xmlns="http://www.w3.org/1999/html">
    <div>
        <div>
            <app-stepper></app-stepper>
        </div>
        <div>
            <div class="generic-box-content">
                <div class="row base-min-height-45">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div align="center">
                            <div class="bf-content">
                                <div class="row" style="width:650px;">
                                    <div class="col-lg-12 col-md-6 col-sm-12">
                                        <p style="text-align: center" class="mb-4 para-text">
                                            {{ 'additional-insurance.Bestanden zum Zeitpunkt des Unfalls eine oder mehrere Versicherungen?' | translate }}
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12">
                                        <div style="float:left">
                                            <p-multiSelect
                                                [filter]="false" 
                                                [showHeader]="false" 
                                                [options]="options" 
                                                [(ngModel)]="selectedOptions" 
                                                [placeholder]="placeholder" 
                                                optionLabel="name" 
                                                display="chip" 
                                                (onChange)="selectNoBtn({var: 'firstStatus', value: 'yes'}, selectedOptions)">
                                            </p-multiSelect>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        <div  style="float:right; width: 150px;">
                                            <app-g-button 
                                                [data]="noButton" 
                                                (linkFunction)="selectNoBtn($event)">
                                            </app-g-button>
                                        </div>
                                    </div>
                                    <ng-container *ngIf="selectedOptions.length > 0">
                                      <div class="col-lg-12 col-md-6 col-sm-12">
                                          <p style="text-align: left" class="mt-4 mb-4">
                                              {{ 'additional-insurance.Hast Du in diesem konkreten Fall bereits Leistungen bei Deiner Versicherung beantragt?' | translate }}
                                          </p>
                                      </div>
                                      <div *ngFor="let item of secondOptionButtons;let i = index" class="col-lg-6 col-md-6 col-sm-12">
                                          <div style="width: 150px;" [style]="i == 0 ? 'float: left' : 'float: right'">
                                              <app-g-button [data]="item" (linkFunction)="selectSecondNoBtn($event)"></app-g-button>
                                          </div>
                                      </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <app-g-button [data]="pageNav.navegation"></app-g-button>
                </div>
            </div>
        </div>
    </div>
</div>